body {
    width: 90vw;
    height: 90vh;
    background-color: rgb(39, 39, 39);
    text-align: center;
    color: azure;
}

#container {
    text-align: center;
}

h1 {
    color: rgb(5, 227, 238);
}

table {
    /* border-collapse: collapse; */
    width: 70%;
    border: 1px solid rgb(187, 187, 187);
    text-align: center;
    margin: auto;
}

ul {
    text-align: left;
}